@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";

@theme {
    --font-display: "Roboto", sans-serif;
}

@layer components {
    .container-border {
        @apply border-2 border-l-indigo-300 border-t-indigo-300 rounded-xl;
    }
    .button {
        @apply border-2 border-l-indigo-500 border-t-indigo-500 rounded-lg mt-2 p-2 bg-indigo-400 font-semibold hover:bg-indigo-500;
    }
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color:#1A1A1A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
*/
/* body {
  margin: 0;
  min-height: 100vh;
  padding:5%
}

h1 {
  font-size: 2em;
  line-height: 1.1;
} */
